* {
  font-size: 15pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.container {
  display: flex;
  flex-direction:column;
  justify-content: top;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
}

button {
  border-radius: 5pt;
  min-height: 30px;
  padding: 10px;
}

.small-button {
  min-height: auto;
  min-width: auto;
  padding: 3px;
}


.delete-button:enabled {
  color: red;
}

.submit-button:enabled {
  color: green;
}

.centered {
  display: flex;
  flex-direction:column;
  justify-content: top;
  align-items: center;
  width:100%;
}

.order-link {
    border-radius: 5px;
}
/* Styling for the order link */
.order-link * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 5px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  color:black;
}

.frame {
  /* padding: 50px; */
  width: 90%;              /* Fixed width */
}

.in_progress {
  background-color: cyan;
}

.submitted {
  background-color: lightgreen;
}

.canceled {
  background-color: crimson;
}

.cashed {
  background-color: green;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr{
  border-bottom: 1px solid #ddd;
}

tr.noborder {
  border-bottom: none;
}

th, td {
  padding: 8px;
  text-align: center;
}

input.productcode {
    width: 100%;
}
input.quantity {
    width: 100%;
}
input.price {
    width: 100%;
}

th:first-child, td:first-child {
  width: 5%; /* Adjust as needed */
}

th:nth-child(2), td:nth-child(2) {
  width: 20%;
}

th:nth-child(3), td:nth-child(3) {
  width: 10%;
}

th:nth-child(4), td:nth-child(4) {
  width: 15%;
}

th:nth-child(5), td:nth-child(5) {
  width: 15%;
}

h1 {
    margin-bottom: 0px;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Chrome, Safari, Edge */
}

.folder-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* height: 150vh; */
}

.folder-card {
  /* background: white; */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@keyframes wiggle {
	0.00% {transform: rotate(0.00deg);}
	2.50% {transform: rotate(1.56deg);}
	5.00% {transform: rotate(2.30deg);}
	7.50% {transform: rotate(2.12deg);}
	10.00% {transform: rotate(1.25deg);}
	12.50% {transform: rotate(0.12deg);}
	15.00% {transform: rotate(-0.85deg);}
	17.50% {transform: rotate(-1.35deg);}
	20.00% {transform: rotate(-1.29deg);}
	22.50% {transform: rotate(-0.81deg);}
	25.00% {transform: rotate(-0.14deg);}
	27.50% {transform: rotate(0.45deg);}
	30.00% {transform: rotate(0.78deg);}
	32.50% {transform: rotate(0.78deg);}
	35.00% {transform: rotate(0.52deg);}
	37.50% {transform: rotate(0.12deg);}
	40.00% {transform: rotate(-0.24deg);}
	42.50% {transform: rotate(-0.45deg);}
	45.00% {transform: rotate(-0.47deg);}
	47.50% {transform: rotate(-0.33deg);}
	50.00% {transform: rotate(-0.10deg);}
	52.50% {transform: rotate(0.12deg);}
	55.00% {transform: rotate(0.26deg);}
	57.50% {transform: rotate(0.28deg);}
	60.00% {transform: rotate(0.21deg);}
	62.50% {transform: rotate(0.07deg);}
	65.00% {transform: rotate(-0.06deg);}
	67.50% {transform: rotate(-0.15deg);}
	70.00% {transform: rotate(-0.17deg);}
	72.50% {transform: rotate(-0.13deg);}
	75.00% {transform: rotate(-0.05deg);}
	77.50% {transform: rotate(0.03deg);}
	80.00% {transform: rotate(0.08deg);}
	82.50% {transform: rotate(0.10deg);}
	85.00% {transform: rotate(0.08deg);}
	87.50% {transform: rotate(0.04deg);}
	90.00% {transform: rotate(-0.01deg);}
	92.50% {transform: rotate(-0.05deg);}
	95.00% {transform: rotate(-0.06deg);}
	97.50% {transform: rotate(-0.05deg);}
}


.folder-card.submitted:not(:hover) {
  animation: wiggle 2s ease-in-out infinite;
}

.folder-card.submitted:hover {
  cursor: grab;
  transform: scale(1.05);
}

.folder-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.folder-contents {
  margin-top:10px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
.cashed-button {
  margin-top: 10px;
}
.folder-item {
  font-size: 14px;
  padding: 5px 0;
}

.low-price {
  color: red;
  border-width: 4px;
  border-color: red;
}